/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	position: absolute;
	opacity: 1;
}

.portfolio-item {
	position: relative;
	-webkit-perspective: 800;
}

.portfolio-item:hover .front {
	opacity: 0;
	transition: 3s;
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.portfolio-item:hover .back {
	opacity: 1;
	transition: 3s;
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
}

.back {
	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
}